<!-- RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 2
  Author: Luong Thanh Trung, Lee Gayeong, Pham Hieu Dat, Le Dang Quang, Nguyen Huynh Trieu Thinh
  ID: Your student ids: S3679813, s3891958, s3979760, s3977794, s3977756
  Acknowledgement: Acknowledgement: the images used here were borrowed from other webpages. Their links could be found in the report  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/6f8d1d8e9d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/Vendor_Account.css">
</head>
<body>
    <header id="logo_and_search">
        <div id="permanent_component">
          <div id="logo_container">
                <div id="logo">
                    <img  src="photo/random-logo-png-transparent.png" alt="">
                  </div>
              <div id="social_media">
                  <div class="social_media"><img class="media_icon" src="/photo/facebook.png" alt=""></div>
                  <div class="social_media"><img class="media_icon" src="/photo/instagram-symbol.png" alt=""></div>
                  <div class="social_media"><img class="media_icon" src="/photo/pinterest.png" alt=""></div>
              </div>
          </div>

          
      </div>
    </header>
    <main>
        
        <div id="main_container">
            <div id="image_container">
                <div id="img">
                    <img id="profile_image" src="/photo/<%=info.profileImagePath%>" alt="">
                </div>
            </div>
            <form action="/myVendorAccount" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="username">Username</label>
                    <input name="username" id="username" type="text" value="<%=info.username%>">
                </div>
                <div>
                    <label for="fullname">Fullname</label>
                    <input type="text" id="fullname" name="fullname" value="<%=info.Full_name%>">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" value="<%=info.email%>">
                </div>
                <div>
                    <label for="phone">Phone Number</label>
                    <input type="text" id="phone" name="phone" value="<%=info.Phone_Number%>">
                </div>
                <div>
                    <label for="address">Address</label>
                    <input type="text" id="address" name="address" value="<%=info.address%>">
                </div>
                <div>
                    <label for="business_address">Business Address</label>
                    <input type="text" id="business_address" name="business_address" value="<%=info.Business_name%>">
                </div>
                <div>
                    <label for="business_phone">Business Phone Number</label>
                    <input type="text" id="business_phone" name="business_phone" value="<%=info.baddress%>">
                </div>
                <div>
                    <label for="national_id">National ID</label>
                    <input type="text" id="national_id" name="national_id" value="<%=info.national_id%>">
                </div>
                <div>
                    <input name="image" type="file">
                </div>
                <div>
                    <input type="submit" value="Update">
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div class="subscriptionDiv">
            <h4>Sign up for more information?</h4>
            <form action="">
                <div class="subscriptionDivInput">
                    <input type="email" placeholder="Enter your email address here...">
                    <button type="submit"><i class="fa-solid fa-envelope"></i></button>
                </div>
            </form>
        </div>
        <div class="basicInformation">
            <div class="detail">
                <br>
                Information gonna display here
            </div>
            <div class="detail">

                <h3>About Us</h3>
                <a href="">About Us</a>
                <a href="">Privacy Policy</a>
                <a href="">Payment Methods</a>

            </div>
            <div class="detail">
                <h3>Contact Us</h3>
                <ul>
                    <li>Email: trungluong0806@gmail.com</li>
                    <li>Phone: 0909173660</li>
                    <li>Address: <address>819 488 Swanston 3053 Carlton</address> </li>
                </ul>
                
                
            </div>
        </div>
        <div class="copyRight">
            <p>Page by Copyright@ by GroupName?</p>
        </div>
    </footer>
    <div id="controller">
        <div class="controller_icon">
            <a href="http://localhost:3500/viewmyproduct">
                <img class="icon" src="/photo/home.png" alt="">
            </a>
            
        </div>
        <div class="controller_icon">
            <a href="http://localhost:3500">
              <img class="icon" src="/photo/logout.png" alt="">
            </a>
            
        </div>
        
    </div>
</body>
</html>
